<div class="container bg-light p-3 mt-5"> 
  <h1 class="fs-1">Qui sommes nous ?</h1>
  <p class="text-muted">jeudi 5 juillet 2007</p>
  <p>En ce début de siècle qui voit le capitalisme triomphant organiser la misère ici, des guerres ailleurs, la CNT réaffirme son projet révolutionnaire fait de démocratie directe, de solidarité de classe & d’autogestion.</p>

  <p>Ce projet n’est pas un idéal échafaudé par quelques grands penseurs romantiques mais puise ses origines au cœur du mouvement ouvrier ou il a toujours été présent.
  Des conseils ouvriers bavarois aux collectivités de l’Espagne révolutionnaire, il a prouvé sa viabilité en se confrontant avec le réel. Et si l’époque n’est plus la même l’essentiel reste inchangé :</p>

  <p>Une lutte indépassable existe entre ceux qui exploitent, s’engraissent sur le dos des autres et les travailleurs qui triment pour de maigres salaires. La lutte des classes que des charlatans avaient enterré est bien là.</p>

  <p>Nous la subissons quotidiennement avec les délocalisations, les attaques incessantes contre tout ce que le mouvement ouvrier avait put obtenir par la lutte : Conventions collectives, sécurité sociale, régime Assedic ...etc.</p>

  <p>L’arme des travailleurs pour imposer une autre futur n’est pas un cocktail Molotov lancé à Seattle ou à gênes mais la grève générale.</p>

  <p>Encore faut-il qu’existe une organisation syndicaliste révolutionnaire digne de ce nom.
  Face à la trahison des grandes confédérations syndicales engluées dans la collaboration et ayant renié le principe même de lutte de classe, la CNT représente l’alternative.</p>

  <p>La C.N.T, fidele à son projet communiste libertaire fonctionne sans permanents, en respectant les principes anarcho-syndicalistes ou syndicalistes révolutionnaires. Un secrétaire, un trésorier de syndicat, n’a qu’un rôle administratif.</p>

  <p>Pas de mots d’ordres venus « d’en haut », pas de bureaucrates dirigeant les luttes.
  À la cnt, il existe deux instances décisionnaires :</p>
  <ul>
    <li>- Le congrès qui réunit tout les syndicats tout les deux ans</li>
    <li>- Le comité confédéral national qui réunit des mandatés régionaux tout les six mois pour faire appliquer les décisions de congrès, coordonner l’action des syndicats.</li>
  </ul>
</div>
