<div class="contact d-flex justify-content-center align-items-center">
  <div class="card bg-light p-3 mt-5"> 
    <h1 class="fs-1">Nous contacter :</h1>
    <p>- Adresse : </p>
    <p class="ms-3">HLM St Mathieu - cour F - 39 rue des rois de majorque - BP 90256 - 66002 PERPIGNAN CEDEX</p>
    <p class="ms-3">PERMANENCE le mercredi de 15h00 à 18h00</p>
    <p>- Tel : 09 50 82 59 90 </p>
    <p>- E-mail : cnt66@cnt-g.org</p>
  </div>
</div>
